<div class="container">
  <div class="row">
    <div class="col-12">
      <app-exchanges-bar-chart></app-exchanges-bar-chart>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-exchanges-line-chart></app-exchanges-line-chart>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-sales-doughnut-chart></app-sales-doughnut-chart>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-volumes-pie-chart></app-volumes-pie-chart>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-volumes-polar-chart></app-volumes-polar-chart>
    </div>
  </div>
</div>
