<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card shadow mb-4">

        <app-exchanges-chart></app-exchanges-chart>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card shadow mb-4">

        <app-exchange-chart></app-exchange-chart>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card shadow mb-4">

        <app-sales-chart></app-sales-chart>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card shadow mb-4">

        <app-volumes-chart></app-volumes-chart>

      </div>
    </div>
  </div>
</div>
