<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card shadow mb-4">

        <app-exchanges-bar-chart></app-exchanges-bar-chart>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card shadow mb-4">

        <app-exchanges-line-chart></app-exchanges-line-chart>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card shadow mb-4">

        <app-sales-chart></app-sales-chart>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card shadow mb-4">

        <app-volumes-chart></app-volumes-chart>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card shadow mb-4">

        <app-volumes-polar-chart></app-volumes-polar-chart>

      </div>
    </div>
  </div>
</div>
